$brand-color: #6A4B86;
$copy-color: #ffffff;
$copy-color__2: #000000;
$copy-color__3: #414141;
$ltestgrey: #818181;

$pink: #f52fca;
$purple: #6A4B86;
$blue: #409bbd;
$in-between: #9366c4; //TODO Delete
