.about-content-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  h2 {
    color: white;
    font-size: 3rem;
    margin: 0 0 3rem;
    font-weight: normal;
  }
  p {
    font-size: 1.6rem;
    text-align: left;
    color: white;
    line-height: 1.5;
    margin-top: 0;
  }
  .pill-btn {
    display: inline-block;
    margin-top: 3rem;
  }
}
